

	{% load static %}

	<header class="head" role="banner">
		<!--wrap-->
		<div class="wrap clearfix">
			<a href="{% url 'index' %}" title="SocialChef" class="logo"><img src="{% static 'images/ico/logo.png' %}" alt="SocialChef logo" /></a>
			
			<nav class="main-nav" role="navigation" id="menu">
				<ul>
					<li><a href="{% url 'index' %}" title="Home"><span>Home</span></a></li>
					<li><a href="{% url 'all_recipe' %}" title="Recipes"><span>Recipes</span></a>
					</li>
					<li><a href="{% url 'blog' %}" title="Blog"><span>Blog</span></a>
					</li>
					<li><a href="{% url 'contact' %}" title="Contact"><span>Contact</span></a></li>

					{% if user.is_authenticated %}
						<li class="current-menu-item"><a href="{% url 'logout' %}" title="logout"><span>Logout</span></a></li>
					{% else %}
						<li class="current-menu-item"><a href="{% url 'sign_in' %}" title="Login"><span>Login</span></a></li>

					{% endif %}
					<!-- <li class="current-menu-item"><a href="{% url 'logout' %}" title="logout"><span>Logout</span></a></li> -->
				</ul>
			</nav>
			
			<nav class="user-nav" role="navigation">
				<ul>
					<li class="light"><a href="find_recipe.html" title="Search for recipes"><i class="icon icon-themeenergy_search"></i> <span>Search for recipes</span></a></li>
					<li class="medium"><a href="{% url 'profile' %}" title="My account"><i class="icon icon-themeenergy_chef-hat"></i> <span>My account</span></a></li>
					<li class="dark"><a href="submit_recipe.html" title="Submit a recipe"><i class="icon icon-themeenergy_fork-spoon"></i> <span>Submit a recipe</span></a></li>
				</ul>
			</nav>
		</div>
		<!--//wrap-->
	</header>


